body{
    font-family: 'Poppins', sans-serif;

}
.carousel-item-1 {
  background: url(./images/cover/banner1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: revert;
  padding: 15% 17%;
  border-radius: 11px;
}
.carousel-item-2 {
  background: url(./images/cover/banner2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: revert;
  padding: 15% 17%;
  border-radius: 11px;
}


/* carusel-end */
.about-content{
    background-color: #f4fafd;
}
.register-section{
    margin-top: 120px !important
}
.company-section{
    margin-top: 120px !important;
    margin-bottom: 60px!important;
}
.trusted{
    margin: 30px 0 !important;
}
.cources{
    padding-top: 80px;
}
/* responsive */
@media screen and (min-width:0px) and (max-width:576px){
    .cource-box{
      flex-direction: column;
      width: 100%;
    }
    .cource-box-img{
      width: 100%;
      height: auto;
    }
    .cource-box-img img{
      width: 100%;
      height: auto;
    }
    .cource-box-content {
      padding: 35px 0 28px 0;
  }
  .cource-box-content p {
    padding: 10px 0 2px 0;
  }
  
  }